<?xml version="1.0" encoding="ASCII"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" metadata-complete="true" id="Hello">
	<display-name>hello-service</display-name>

	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>net.trajano.ws.helloservice.impl.HelloService</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>
	<env-entry>
		<env-entry-name>helloString</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>webxml</env-entry-value>
		<injection-target>
			<injection-target-class>net.trajano.ws.helloservice.impl.HelloService</injection-target-class>
			<injection-target-name>helloString</injection-target-name>
		</injection-target>
	</env-entry>
</web-app>